@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App{
    font-family: 'Montserrat';
}

.lateral-margin{
    margin-left: 10%;
    margin-right: 10%;
}

a{
    text-decoration: none;
    color: #000000;
}
  
.unselectable {
  /*user-drag: none;*/
  user-select: none;
}

.fixed{
    position: fixed;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.font-xxs{
    font-size: 25px;
}

.font-xs{
    font-size: 1.2em;
}

.font-s{
    font-size: 1.25em;
}

.font-m{
    font-size: 2.1em;
}

.font-xl{
    font-size: 25px;
}

.font-xxl{
    font-size: 15vw;
    
}

@media screen and (min-width: 800px) {
    .font-xxl {
        font-size: 8em;
    }
}

.cursor-image{
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all ease-out .2s;
}

ul{
    list-style: none;
    padding: 0;
}

*{
    cursor: none;
}

#cursor{
    border: solid 1px #000;
    border-radius: 50%;
    position: fixed;
    width: .5em;
    height: .5em;
    pointer-events: none;
    z-index: 3;
    transform: translate(-50%, -50%);
    left: 200vw;
    background-color: #000;
    transition: transform .0s linear;
    display: flex;
    align-items: center;
    div{
        border-radius: 50%;
        width: 2px;
        height: 2px;
        background-color: #fff;
    }
}

label:hover, a:hover{
    background-color: rebeccapurple;
    #cursor{
        border: none;
        background-color: #fff;
        width: 1em;
        height: 1em;
        z-index: 0;
    }
}