@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App{
    font-family: 'Montserrat', sans-serif;
}

.lateral-margin{
    margin-left: 10%;
    margin-right: 10%;
}

a{
    text-decoration: none;
    color: #000000;
}
  
.unselectable {
  /*user-drag: none;*/
  user-select: none;
}

.fixed{
    position: fixed;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.font-xxs{
    font-size: 25px;
}

.font-xs{
    font-size: 1.2em;
}

.font-s{
    font-size: 1.25em;
}

.font-m{
    font-size: 2.1em;
}

.font-xl{
    font-size: 25px;
}

.font-xxl{
    font-size: 15vw;
    
}

@media screen and (min-width: 800px) {
    .font-xxl {
        font-size: 8em;
    }
}

.cursor-image{
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all ease-out .2s;
}

ul{
    list-style: none;
    padding: 0;
}

*{
    cursor: none;
}

#cursor{
    display: none;
    +.img{
        display: none;
    }
    @media (pointer: fine){
        display: block;
        border-radius: 50%;
        position: fixed;
        width: .5em;
        height: .5em;
        pointer-events: none;
        z-index: 2;
        left: 200vw;
        background-color: #000;
        transition: transform .0s ease-out;
        div{
            background-color: #000;
            border-radius: 50%;
            width: 0;
            height: 0;
            transition: all .2s ease-out;
            text-align: center;
        }
        &.cursor-hover{
            +.img{
                z-index: 1;
            }
            div{
                transform: translate(-50%, -50%) !important;
                background-color: #fff;
                width: 4em;
                height: 4em;
            }
        }
        &.cursor-image+.img{
            width: 9.9em;
            height: 9.9em;
            background-color: #fff;
            img{
                opacity: 1;
                width: 10em;
                height: 10em;
            }
        }
        +.img{
            display: block;
            background-color: #000;
            transform: translate(-50%, -50%) !important;
            border-radius: 50%;
            position: fixed;
            pointer-events: none;
            z-index: 2;
            transition: all .2s ease-out, left 0s, top 0s;
            width: 0;
            height: 0;
            img{
                transition: all .2s ease-out, left 0s, top 0s;
                opacity: 0;
                width: 0;
                height: 0;
            }
        }
    }
}