@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background-color: #eae6e1;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

.App {
  font-family: "Montserrat", "Segoe UI", "Roboto", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App > .sections > div:not(#cover),
.App > .sections .bg-title {
  min-height: 100vh;
}

.App > .sections > div > *:not(.bg-title) {
  margin-left: 10%;
  margin-right: 10%;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 0;
}

.unselectable {
  /*user-drag: none;*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fixed {
  position: fixed;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold {
  font-weight: bold;
}

.font-xxs {
  font-size: 25px;
}

.font-xs, #cursor.cursor-project .msg {
  font-size: 1.2rem;
}

.font-s {
  font-size: 1.25rem;
}

.font-m {
  font-size: 2.1rem;
}

.font-xl {
  font-size: calc(min(15vw, 7rem));
  font-weight: 100;
}

.font-xxl {
  font-size: 15vw;
}

@media screen and (min-width: 800px) {
  .font-xxl {
    font-size: 8em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

* {
  cursor: none;
}

@media (pointer: fine) {
  #cursor {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

#cursor {
  display: none;
  position: fixed;
  pointer-events: none;
  z-index: 3;
}

#cursor > :first-child {
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
  background-color: #000;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
}

#cursor > div {
  -webkit-transition: all 0.2s ease-out, left 0s, top 0s;
  transition: all 0.2s ease-out, left 0s, top 0s;
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
}

#cursor > div.hover {
  background-color: #000;
}

#cursor > div.msg {
  font-size: 0;
  white-space: nowrap;
  color: #fcfcfc;
}

#cursor > div.img {
  opacity: 0;
}

#cursor > div.img img {
  width: 100%;
  height: 100%;
}

#cursor.cursor-hover :first-child {
  width: 0;
  height: 0;
}

#cursor.cursor-hover .hover {
  /*
      background-color: #00000000;
      backdrop-filter: invert(1);
      */
  width: 4em;
  height: 4em;
  /*
      & .back {
        background-color: #fff;
        backdrop-filter: none;
      }
      */
}

#cursor.cursor-hover .img {
  width: 4em;
  height: 4em;
  opacity: 0;
}

#cursor.cursor-image .hover {
  background-color: #fcfcfc;
  width: 9.9em;
  height: 9.9em;
}

#cursor.cursor-image .img {
  opacity: 1;
  width: 10em;
  height: 10em;
}

#cursor.cursor-project :first-child {
  width: 0;
  height: 0;
}

#cursor.cursor-project .hover {
  /*
      background-color: #00000000;
      backdrop-filter: invert(1);
      */
  width: 10em;
  height: 10em;
  /*
      &.back {
        background-color: #fff;
        backdrop-filter: none;
        z-index: -100000;
      }
      */
}

.link:hover .line {
  width: 40%;
}

.link:active .line {
  width: calc(100% + 0.5rem);
}

.link.active .line {
  width: 100%;
}

.line {
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 0.1em;
  width: 0;
  top: 50%;
  background: #000;
  -webkit-transform: translate(0px, 0.75em);
          transform: translate(0px, 0.75em);
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
/*# sourceMappingURL=app.css.map */