@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*
html {
  &[data-scroll-dir-y="-1"] {
    .scrollOut {
      opacity: 0;
      transition: all 1s;
      //transition-delay: 0.2s;
      &[data-scroll="in"] {
        opacity: 1;
        animation: in-up 1s;
      }
    }
  }
  &[data-scroll-dir-y="1"] {
    .scrollOut {
      opacity: 0;
      transition: all 1s;
      //transition-delay: 0.2s;
      &[data-scroll="in"] {
        opacity: 1;
        animation: in-down 1s;
      }
    }
  }
}

@keyframes in-down {
  0% {
    transform: translateY(25vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes in-up {
  0% {
    transform: translateY(-25vh);
  }
  100% {
    transform: translateY(0);
  }
}
*/
body {
  overflow: overlay;
}

body:not(:hover) #cursor > :first-child {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #7c3c38;
}

.App {
  font-family: "Montserrat", "Segoe UI", "Roboto", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.App .logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #a18077;
  z-index: 50;
  overflow: hidden;
  -webkit-animation: 1.5s ease-in-out smile;
          animation: 1.5s ease-in-out smile;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
}

.App .logo > :first-child {
  width: calc(max(min(25vh, 25vw), 7rem));
  height: calc(max(min(25vh, 25vw), 7rem));
}

.App > .sections > div:not(#cover) {
  min-height: 100vh;
}

.App > .sections > div > * {
  margin-left: 10%;
  margin-right: 10%;
}

@-webkit-keyframes smile {
  0% {
  }
  50% {
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    margin: 1.5rem;
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    margin: 1.5rem;
    -webkit-clip-path: inset(0% 0% 100% 0%);
            clip-path: inset(0% 0% 100% 0%);
  }
}

@keyframes smile {
  0% {
  }
  50% {
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    margin: 1.5rem;
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    margin: 1.5rem;
    -webkit-clip-path: inset(0% 0% 100% 0%);
            clip-path: inset(0% 0% 100% 0%);
  }
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 0;
}

.unselectable {
  /*user-drag: none;*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fixed {
  position: fixed;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold {
  font-weight: bold;
}

.font-xxs {
  font-size: 25px;
}

.font-xs, #cursor.cursor-project .msg {
  font-size: 1.2rem;
}

.font-s {
  font-size: 1.25rem;
}

.font-m {
  font-size: 2.1rem;
}

.font-xl {
  font-size: calc(min(15vw, 7rem));
  font-weight: 100;
}

.font-xxl {
  font-size: 15vw;
}

@media screen and (min-width: 800px) {
  .font-xxl {
    font-size: 8em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

* {
  cursor: none;
}

#cursor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  pointer-events: none;
  z-index: 3;
}

#cursor > :first-child {
  -webkit-transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, -webkit-transform 0s;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, -webkit-transform 0s;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, transform 0s;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, transform 0s, -webkit-transform 0s;
  background-color: #000;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 1;
}

#cursor > div {
  -webkit-transition: all 0.3s ease, left 0s, top 0s;
  transition: all 0.3s ease, left 0s, top 0s;
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
}

#cursor > div.hover {
  background-color: rgba(0, 0, 0, 0.11);
}

#cursor > div.msg {
  font-size: 0;
  white-space: nowrap;
  color: #fcfcfc;
}

#cursor > div.img {
  opacity: 0;
}

#cursor > div.img img {
  width: 100%;
  height: 100%;
}

#cursor.cursor-hover :first-child {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  width: 0;
  height: 0;
  opacity: 0;
}

#cursor.cursor-hover .hover {
  /*
      background-color: #00000000;
      backdrop-filter: invert(1);
      */
  width: 4em;
  height: 4em;
  /*
      & .back {
        background-color: #fff;
        backdrop-filter: none;
      }
      */
}

#cursor.cursor-hover .img {
  width: 4em;
  height: 4em;
  opacity: 0;
}

#cursor.cursor-image .hover {
  background-color: #fcfcfc;
  width: 9.9em;
  height: 9.9em;
}

#cursor.cursor-image .img {
  opacity: 1;
  width: 10em;
  height: 10em;
}

#cursor.cursor-project :first-child {
  width: 0;
  height: 0;
}

#cursor.cursor-project .hover {
  /*
      background-color: #00000000;
      backdrop-filter: invert(1);
      */
  width: 10em;
  height: 10em;
  /*
      &.back {
        background-color: #fff;
        backdrop-filter: none;
        z-index: -100000;
      }
      */
}

.link:hover .line {
  width: 40%;
}

.link:active .line {
  width: calc(100% + 0.5rem);
}

.link.active .line {
  width: 100%;
}

.line {
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 1.5px;
  width: 0;
  top: 50%;
  background: #000;
  -webkit-transform: translate(0px, 0.75em);
          transform: translate(0px, 0.75em);
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
/*# sourceMappingURL=app.css.map */