#background{
    position: fixed;
    background-color: #EAE6E1;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;

    #doodle{
        width: 100%;
        height: 100%;
    }
}