@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.bg-title {
  position: absolute;
  width: 80%;
  color: hsla(0, 13%, 40%, 0.8);
  z-index: -1;
}

#cover {
  height: 100%;
  > div {
    min-height: calc(100vh - 5rem);
    padding-top: 5rem;
    > div {
      width: 100%;
      display: grid;
      p {
        font-size: calc(min(12vw, 4rem));
        max-width: calc(min(18em, 80vw));
        margin: 0;
        transition: opacity 0.5s ease-out;
        text-align: center;
        //font-family: "Playfair Display", serif;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
      }
      > div {
        pointer-events: all;
        width: 16rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        &:hover .arrow,
        &:active .arrow {
          transform: translateY(2rem) rotate(90deg) !important;
          width: 15rem !important;
        }
        :nth-child(2) {
          padding-left: 1rem;
          padding-right: 1rem;
          position: relative;
        }
        .arrow {
          left: 50%;
          top: 3.5rem;
          position: relative;
          transform-origin: 0%;
          transform: rotate(90deg);
          //transition: transform 1.3s ease, width 1.3s ease;
          pointer-events: none;
          width: 7rem;
          height: 1px;
          background-color: #000;
          &:before {
            content: "";
            display: block;
            position: relative;
            left: 100%;
            top: 0;
            width: 0.5rem;
            height: 1px;
            background-color: #000;
            transform: rotate(130deg) translate(-0.5px, 0px);
            transform-origin: 0%;
          }
          &:after {
            @extend .arrow:before;
            transform: rotate(-130deg) translate(0px, 0.75px);
          }
        }
      }
    }
  }
}

@function set-color($bg-color) {
  @if (lightness($bg-color) > 30) {
    @return rgba(0, 0, 0, 0.432);
  } @else {
    @return #0000005e;
  }
}

$bg-color: #000000;
$color: set-color($bg-color);

#ido {
  flex-flow: column;
  > :first-child {
    display: flex;
    align-items: flex-end;
    text-align: justify;
    margin-top: calc(max(20vh, 10rem));
    margin-bottom: 10rem;
    :first-child {
      font-family: "Poppins", sans-serif;
      line-height: 1em;
      font-weight: 600;
      margin-right: 5rem;
    }
    :nth-child(2) {
      margin-bottom: 1em;
    }
  }
  .container {
    width: 80%;
    margin-bottom: 10rem;
    .footer {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(min(12rem, calc(max(20vw, 5rem)))), 1fr)
      );
    }
  }

  .box {
    .border {
      border: 1px solid #00000000;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      transition: all 1s ease;

      &.title {
        .content {
          overflow: hidden;
          width: 100%;
          height: 100%;
          background-color: #000;
          transform: scale(0.7);
          color: #eae6e1;
          font-size: 2rem;
          font-weight: bolder;
          text-align: center;
          transition: all 0.3s ease;
          > div {
            position: absolute;
            background-color: #000;
            width: 100%;
            height: 100%;
            &:first-child {
              font-weight: normal;
              transform: scale(0.9);
              transition: all 0.3s ease;
            }
            &:nth-child(2) {
              transition: all 0.7s ease;
              top: 0;
              &:after {
                font-size: 2rem;
                font-weight: normal;
                content: "..";
                position: absolute;
                right: 1rem;
                bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
    height: calc(min(10rem, calc(max(20vw, 7rem))));

    &:hover {
      z-index: 10;
    }

    .top-left,
    .bottom-left,
    .top-right,
    .bottom-right {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: $bg-color;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        height: 1px;
        width: 0%;
        z-index: 1;
        transition: left 1s ease, top 1s ease, height 1s ease, width 1s ease,
          width 1s ease;
      }
    }

    .top-left {
      &:before,
      &:after {
        left: 0;
        top: 0;
      }
      &:after {
        height: 0%;
        width: 1px;
      }
    }

    .bottom-left {
      &:before,
      &:after {
        left: 0;
        top: 100%;
      }
      &:after {
        height: 0%;
        width: 1px;
        top: 100%;
      }
    }

    .top-right {
      &:before,
      &:after {
        left: calc(100% + 1px);
        top: 0;
      }
      &:after {
        height: 0%;
        width: 1px;
        left: 100%;
      }
    }

    .bottom-right {
      &:before,
      &:after {
        left: calc(100% + 1px);
        top: 100%;
      }
      &:after {
        height: 0%;
        width: 1px;
        left: 100%;
        top: 100%;
      }
    }

    &:hover,
    &:focus {
      .border {
        border: 1px solid $color;
        &.title .content {
          transform: scale(1);
          > div {
            &:first-child {
              transform: scale(0.7);
            }
            &:nth-child(2) {
              top: -100%;
            }
          }
        }
      }
      .top-left {
        &:before {
          transition: height 0.2s ease, width 0.2s ease;
          width: 15%;
        }
        &:after {
          transition: height 0.2s ease, width 0.2s ease;
          height: 15%;
        }
      }

      .bottom-left {
        &:before {
          transition: height 0.2s ease, width 0.2s ease;
          width: 15%;
        }
        &:after {
          transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
          top: 85%;
          height: 15%;
        }
      }
      .top-right {
        &:before {
          transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
          width: 15%;
          left: calc(85% + 1px);
        }
        &:after {
          transition: height 0.2s ease, width 0.2s ease;
          height: 15%;
        }
      }

      .bottom-right {
        &:before {
          transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
          width: 15%;
          left: calc(85% + 1px);
        }
        &:after {
          transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
          top: 85%;
          height: 15%;
        }
      }
    }

    &__image {
      fill: $color;
      width: 60%;
      will-change: width;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s ease;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 765px) {
  .box.title {
    grid-column: auto / span 2;
  }
}

@media screen and (max-width: 600px) {
  .area {
    grid-template-columns: 2.1em 1fr !important;
    grid-column-gap: 1em;
    .tag > div {
      transform: rotate(-90deg) translate(-90%, 30%);
      transform-origin: left;
    }
  }
  #contact {
    #mailto {
      transform: translate(0, 0) !important;
    }
    ul {
      grid-template-columns: 100% !important;
    }
  }
}

#who {
  > div {
    width: 100%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    h1 {
      margin-bottom: 2rem;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      line-height: 1em;
    }
    p {
      width: 100%;
      //max-width: 27rem;
      text-align: justify;
      //margin-top: 2rem;
    }
    > :nth-child(2) {
      background-color: #181818;
      overflow: hidden;
      img {
        //height: 100%;
        width: 150%;
        max-width: 20rem;
        //border-radius: 50%;
      }
    }
  }
}

#contact {
  display: flex;
  > div:first-child {
    width: 100%;
    max-width: 65em;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 100%;
    min-height: 60vh;
    h1 {
      text-align: center;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr min-content min-content;
      /*grid-template-columns: repeat(auto-fit, minmax(10em, min-content));*/
      align-items: center;
      margin: 0;
      gap: 1em;

      #mailto {
        flex-direction: column;
        /*transform: translate(-25%, 0em);*/
        .shine {
          height: 3em;
          width: 5em;
          &:last-child {
            transform: rotate(180deg);
          }
        }
      }
      li {
        z-index: 4;
      }
    }
  }
}

#work {
  overflow: hidden;
  > .project {
    position: relative;
    min-height: calc(100vh - 5rem);
    padding-top: 5rem;
    .mockup {
      perspective: 50rem;
      transform-style: preserve-3d;
      //perspective: 50rem;
      //transform-style: preserve-3d;
      //max-height: 80vh;
      //max-width: 23em;
      z-index: 1;
      position: absolute;
      //right: 50%;
      //top: calc(calc(100% + 5rem) / 2);
      //transform: translate(50%, -50%);
      transition: all 0.5s ease-out;
      &.open {
        /*
        //right: 25%;
        //top: 0rem;
        //transform: scale(0.5);
        transition: all 0.8s ease;
        + .title {
          //color: #b87d3a;
          //top: 5rem;
          //left: 0;
          transform: none !important;
          transition: all 0.5s ease;
          div {
            opacity: 0;
          }
        }
        */
      }
      img {
        max-height: calc(100vh - 5rem);
        max-width: 200%;
      }
      .phone {
        height: 25em;
        width: 15em;
      }
      .desktop {
        height: 25em;
        width: 39em;
      }
      :first-child {
        pointer-events: none;
      }
    }
    .title {
      //font-family: "Playfair Display SC", serif;
      //mix-blend-mode: hue;
      color: #402828;
      z-index: 2;
      pointer-events: none;
      position: absolute;
      //left: 0;
      //top: calc(max(4rem, min(15vw, 13rem)));
      //top: 15rem;
      transition: all 0.5s ease-out;
      transform-origin: 0;
      > div {
        transform-origin: 0;
        div {
          transition: all 0.5s ease;
        }

        h1 {
          //font-family: "Playfair Display", serif;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          transform-origin: 0;
        }
        > div {
          transform-origin: 0;
          pointer-events: all;
          width: 15rem;
          padding-bottom: 2.5rem;
          padding-top: 1rem;
          &:hover .arrow,
          &:active .arrow {
            transform: translateX(2rem);
            width: 15rem;
          }
          .arrow {
            transition: transform 0.5s ease, width 0.7s ease;
            margin-top: 0.5rem;
            width: 10rem;
            height: 1px;
            background-color: #402828;
            &:before {
              content: "";
              display: block;
              position: relative;
              left: 100%;
              top: 0px;
              width: 0.5rem;
              height: 1px;
              background-color: #402828;
              transform: rotate(130deg) translate(-0.5px, 0px);
              transform-origin: 0%;
            }
            &:after {
              @extend .arrow:before;
              transform: rotate(-130deg) translate(0.5px, 0.75px);
            }
          }
        }
      }
    }
  }
}
