@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.bg-title {
  position: absolute;
  width: 80%;
  color: rgba(115, 89, 89, 0.8);
  z-index: -1;
}

#cover {
  height: 100%;
}

#cover > div {
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
}

#cover > div > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

#cover > div > div p {
  font-size: calc(min(12vw, 4rem));
  max-width: calc(min(18em, 80vw));
  margin: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#cover > div > div > div {
  pointer-events: all;
  width: 16rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

#cover > div > div > div:hover .arrow,
#cover > div > div > div:active .arrow {
  -webkit-transform: translateY(2rem) rotate(90deg) !important;
          transform: translateY(2rem) rotate(90deg) !important;
  width: 15rem !important;
}

#cover > div > div > div :nth-child(2) {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

#cover > div > div > div .arrow {
  left: 50%;
  top: 3.5rem;
  position: relative;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: none;
  width: 7rem;
  height: 1px;
  background-color: #000;
}

#cover > div > div > div .arrow:before, #cover > div > div > div .arrow:after, #cover > div > div > div #work > .project .title > div > div .arrow:after, #work > .project .title > div > div #cover > div > div > div .arrow:after {
  content: "";
  display: block;
  position: relative;
  left: 100%;
  top: 0;
  width: 0.5rem;
  height: 1px;
  background-color: #000;
  -webkit-transform: rotate(130deg) translate(-0.5px, 0px);
          transform: rotate(130deg) translate(-0.5px, 0px);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

#cover > div > div > div .arrow:after {
  -webkit-transform: rotate(-130deg) translate(0px, 0.75px);
          transform: rotate(-130deg) translate(0px, 0.75px);
}

#ido .container {
  width: 100%;
}

#ido .container .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(calc(min(12rem, calc(max(20vw, 5rem)))), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(calc(min(12rem, calc(max(20vw, 5rem)))), 1fr));
}

#ido .box {
  display: inline-block;
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: calc(min(10rem, calc(max(20vw, 7rem))));
}

#ido .box .border {
  border: 1px solid #00000000;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#ido .box .border.title .content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  color: #eae6e1;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#ido .box .border.title .content > div {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#ido .box .border.title .content > div:first-child {
  font-weight: normal;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#ido .box .border.title .content > div:nth-child(2) {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  top: 0;
}

#ido .box .border.title .content > div:nth-child(2):after {
  font-size: 2rem;
  font-weight: normal;
  content: "..";
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

#ido .box:hover {
  z-index: 10;
}

#ido .box .top-left:before, #ido .box .top-left:after,
#ido .box .bottom-left:before,
#ido .box .bottom-left:after,
#ido .box .top-right:before,
#ido .box .top-right:after,
#ido .box .bottom-right:before,
#ido .box .bottom-right:after {
  content: "";
  display: block;
  position: absolute;
  background: #000000;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  height: 1px;
  width: 0%;
  z-index: 1;
  -webkit-transition: left 1s ease, top 1s ease, height 1s ease, width 1s ease, width 1s ease;
  transition: left 1s ease, top 1s ease, height 1s ease, width 1s ease, width 1s ease;
}

#ido .box .top-left:before, #ido .box .top-left:after {
  left: 0;
  top: 0;
}

#ido .box .top-left:after {
  height: 0%;
  width: 1px;
}

#ido .box .bottom-left:before, #ido .box .bottom-left:after {
  left: 0;
  top: 100%;
}

#ido .box .bottom-left:after {
  height: 0%;
  width: 1px;
  top: 100%;
}

#ido .box .top-right:before, #ido .box .top-right:after {
  left: calc(100% + 1px);
  top: 0;
}

#ido .box .top-right:after {
  height: 0%;
  width: 1px;
  left: 100%;
}

#ido .box .bottom-right:before, #ido .box .bottom-right:after {
  left: calc(100% + 1px);
  top: 100%;
}

#ido .box .bottom-right:after {
  height: 0%;
  width: 1px;
  left: 100%;
  top: 100%;
}

#ido .box:hover .border, #ido .box:focus .border {
  border: 1px solid #0000005e;
}

#ido .box:hover .border.title .content, #ido .box:focus .border.title .content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#ido .box:hover .border.title .content > div:first-child, #ido .box:focus .border.title .content > div:first-child {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#ido .box:hover .border.title .content > div:nth-child(2), #ido .box:focus .border.title .content > div:nth-child(2) {
  top: -100%;
}

#ido .box:hover .top-left:before, #ido .box:focus .top-left:before {
  -webkit-transition: height 0.2s ease, width 0.2s ease;
  transition: height 0.2s ease, width 0.2s ease;
  width: 15%;
}

#ido .box:hover .top-left:after, #ido .box:focus .top-left:after {
  -webkit-transition: height 0.2s ease, width 0.2s ease;
  transition: height 0.2s ease, width 0.2s ease;
  height: 15%;
}

#ido .box:hover .bottom-left:before, #ido .box:focus .bottom-left:before {
  -webkit-transition: height 0.2s ease, width 0.2s ease;
  transition: height 0.2s ease, width 0.2s ease;
  width: 15%;
}

#ido .box:hover .bottom-left:after, #ido .box:focus .bottom-left:after {
  -webkit-transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
  transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
  top: 85%;
  height: 15%;
}

#ido .box:hover .top-right:before, #ido .box:focus .top-right:before {
  -webkit-transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
  transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
  width: 15%;
  left: calc(85% + 1px);
}

#ido .box:hover .top-right:after, #ido .box:focus .top-right:after {
  -webkit-transition: height 0.2s ease, width 0.2s ease;
  transition: height 0.2s ease, width 0.2s ease;
  height: 15%;
}

#ido .box:hover .bottom-right:before, #ido .box:focus .bottom-right:before {
  -webkit-transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
  transition: left 0.2s ease, height 0.2s ease, width 0.2s ease;
  width: 15%;
  left: calc(85% + 1px);
}

#ido .box:hover .bottom-right:after, #ido .box:focus .bottom-right:after {
  -webkit-transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
  transition: top 0.2s ease, height 0.2s ease, width 0.2s ease;
  top: 85%;
  height: 15%;
}

#ido .box__image {
  fill: #0000005e;
  width: 60%;
  will-change: width;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

@media screen and (max-width: 765px) {
  .box.title {
    grid-column: auto / span 2;
  }
}

@media screen and (max-width: 600px) {
  .area {
    -ms-grid-columns: 2.1em 1fr !important;
        grid-template-columns: 2.1em 1fr !important;
    grid-column-gap: 1em;
  }
  .area .tag > div {
    -webkit-transform: rotate(-90deg) translate(-90%, 30%);
            transform: rotate(-90deg) translate(-90%, 30%);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  #contact #mailto {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  #contact ul {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}

#who > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#who > div h1 {
  margin-bottom: 2rem;
}

#who > div p {
  width: 100%;
  text-align: justify;
}

#who > div > :nth-child(2) {
  background-color: #181818;
  overflow: hidden;
}

#who > div > :nth-child(2) img {
  width: 150%;
  max-width: 20rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact > div:first-child {
  width: 100%;
  max-width: 65em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: 60vh;
}

#contact > div:first-child h1 {
  text-align: center;
}

#contact > div:first-child ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content min-content;
      grid-template-columns: 1fr -webkit-min-content -webkit-min-content;
      grid-template-columns: 1fr min-content min-content;
  /*grid-template-columns: repeat(auto-fit, minmax(10em, min-content));*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  gap: 1em;
}

#contact > div:first-child ul #mailto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*transform: translate(-25%, 0em);*/
}

#contact > div:first-child ul #mailto .shine {
  height: 3em;
  width: 5em;
}

#contact > div:first-child ul #mailto .shine:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#contact > div:first-child ul li {
  z-index: 4;
}

#work {
  overflow: hidden;
}

#work > .project {
  position: relative;
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
}

#work > .project .mockup {
  z-index: 1;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#work > .project .mockup.open {
  /*
        //right: 25%;
        //top: 0rem;
        //transform: scale(0.5);
        transition: all 0.8s ease;
        + .title {
          //color: #b87d3a;
          //top: 5rem;
          //left: 0;
          transform: none !important;
          transition: all 0.5s ease;
          div {
            opacity: 0;
          }
        }
        */
}

#work > .project .mockup img {
  max-height: calc(100vh - 5rem);
  max-width: 200%;
}

#work > .project .mockup .phone {
  height: 25em;
  width: 15em;
}

#work > .project .mockup .desktop {
  height: 25em;
  width: 39em;
}

#work > .project .mockup :first-child {
  pointer-events: none;
}

#work > .project .title {
  color: #402828;
  z-index: 2;
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

#work > .project .title > div {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

#work > .project .title > div div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#work > .project .title > div h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

#work > .project .title > div > div {
  -webkit-transform-origin: 0;
          transform-origin: 0;
  pointer-events: all;
  width: 15rem;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

#work > .project .title > div > div:hover .arrow,
#work > .project .title > div > div:active .arrow {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  width: 15rem;
}

#work > .project .title > div > div .arrow {
  -webkit-transition: width 0.7s ease, -webkit-transform 0.5s ease;
  transition: width 0.7s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, width 0.7s ease;
  transition: transform 0.5s ease, width 0.7s ease, -webkit-transform 0.5s ease;
  margin-top: 0.5rem;
  width: 10rem;
  height: 1px;
  background-color: #402828;
}

#work > .project .title > div > div .arrow:before, #cover > div > div > div #work > .project .title > div > div .arrow:after, #work > .project .title > div > div .arrow:after {
  content: "";
  display: block;
  position: relative;
  left: 100%;
  top: 0px;
  width: 0.5rem;
  height: 1px;
  background-color: #402828;
  -webkit-transform: rotate(130deg) translate(-0.5px, 0px);
          transform: rotate(130deg) translate(-0.5px, 0px);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

#work > .project .title > div > div .arrow:after {
  -webkit-transform: rotate(-130deg) translate(0.5px, 0.75px);
          transform: rotate(-130deg) translate(0.5px, 0.75px);
}
/*# sourceMappingURL=landing.css.map */