.bg-title{
    position: absolute;
    width: 80%;
    color: rgba(0, 69, 126, 0.15);
    z-index: -1;
}

#cover >div{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 5rem;
    grid-template-columns: 100%;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    p{
        font-size: 3em;
        max-width: 13em;
        margin: 0;
    }

    #arrow{
        height: 5em;
        width: 5em;
        margin-left: auto;
        margin-right: auto;
        img{
            z-index: 3;
        }
    }
    
    .up {
        animation: uparrow 0.6s infinite alternate ease-in-out;
    }
    
    @keyframes uparrow {
        0% { -webkit-transform: translateY(0); opacity: 0.7 }
        100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
    }
}

#ido{
    display: flex;
    .content{
        max-width: 60em;
        display: grid;
        grid-auto-rows: 1fr;
        position: relative;
        .area{
            display: grid;
            grid-template-columns: 10em 1fr;
            min-height: 6em;
            .tag{
                position: relative;
                align-items: baseline;
                >div{
                    position: absolute;
                    left: 0;
                    transition: all .5s;
                }
            } 
            &.active{
                .tag>div{
                    left: 10px;
                }
                .description{
                    filter: none;
                    opacity: 1;
                    transition: all .5s;
                }
                .images{
                    top: 0;
                    opacity: 1;
                    transition: all .5s;
                }
            }
        }

        .info{
            display: grid;
            grid-template-columns: 1fr 18em;
            gap: 1em;
            .description{
                margin: 5px;
                filter: blur(1px);
                opacity: .3;
            }
        }

        .images{
            display: grid;
            grid-template-columns: repeat(3, 5em);
            gap: 1.5em;
            align-items: start;
            position: absolute;
            top: 5px;
            right: 0;
            opacity: 0;
            pointer-events: none;
            text-align: center;
            >div {
                flex-direction: column;
                >img {
                    width: 3.5em;
                    height: 3.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 940px){
    #work > div:not(.bg-title) .title {
        font-size: 20vw;
    }
    #ido{
        display: block;
        .content{
            grid-auto-rows: unset;
            gap: 2em;
            .area {
                .tag>div{
                    left: 0 !important;
                    .line{
                        display: none;
                    }
                }
                .info{
                    grid-template-columns: 1fr;
                    .images{
                        grid-template-columns: repeat(auto-fit, 5em);
                        position: initial;
                        opacity: 1;
                    }
                    .description{
                        filter: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .area{
        grid-template-columns: 2.1em 1fr !important;
        grid-column-gap: 1em;
        .tag>div{
            transform: rotate(-90deg) translate(-90%, 30%);
            transform-origin: left;
        }
    }
    #contact{
        #mailto{
            transform: translate(0,0) !important;
        }
        ul{
            grid-template-columns: 100% !important;
        }
    }
}

#who{
    display: flex;
    div:first-child{
        width: 100%;
        p{
            width: 100%;
            max-width: 27em;
            text-align: justify;
            &:last-child{
                margin-left: auto;
                margin-top: 3em;
            }
        }
    }
}

#contact{
    display: flex;
    >div:first-child{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr max-content;
        grid-template-columns: 100%;
        min-height: 60vh;
        h1{
            text-align: center;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr min-content min-content;
            /*grid-template-columns: repeat(auto-fit, minmax(10em, min-content));*/
            align-items: center;
            margin: 0;
            gap: 1em;

            #mailto{
                flex-direction: column;
                /*transform: translate(-25%, 0em);*/
                .shine{
                    height: 3em;
                    width: 5em;
                    &:last-child{
                        transform: rotate(180deg);
                    }
                }
            }
            li{
                z-index: 2;
            }
        }
    }
}

#work{
    >div:not(.bg-title){
        position: relative;
        min-height: calc(100vh - 5rem);
        margin-top: 5rem;
        .mockup{
            max-height: 80vh;
            max-width: 23em;
                z-index: 1;
            >img{
                height: 100%;
                width: 100%;
            }
        }
        .title{
            position: fixed;
            margin: 0;
            height: 1em;
            letter-spacing: -.05em;
            pointer-events: none;
            white-space:nowrap;
            &:nth-child(1){
                animation: titleA-out 1s ease-out forwards;
                //bottom: 1rem;
                top: calc(calc(calc(calc(100% + 5rem) / 2) - .3em) + 23%);
            }
            &:nth-child(2){
                text-align: right;
                animation: titleB-out 1s ease-out forwards;
                //top: 2rem;
                bottom: calc(calc(calc(100% - 5rem) / 2) + 23%);
            }
        }
        &[data-scroll="in"]{
            .title{
                &:nth-child(1){
                    animation: titleA-in 1s ease-out forwards;
                }
                &:nth-child(2){
                    animation: titleB-in 1s ease-out forwards;
                }
            }
        }
    }
}

@keyframes titleA-in{
    0%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    100%{
        left: -.12em;
    }
}

@keyframes titleA-out{
    0%{
        left: -.12em;
    }
    100%{
        left: -100%;
    }
}

@keyframes titleB-in{
    0%{
        right: -100%;
    }
    50%{
        right: -100%;
    }
    100%{
        right: -.05em;
    }
}

@keyframes titleB-out{
    0%{
        right: -.05em;
    }
    100%{
        right: -100%;
    }
}