.bg-title {
  position: absolute;
  width: 80%;
  color: rgba(0, 69, 126, 0.15);
  z-index: -1;
}

#cover > div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6rem;
      grid-template-rows: 1fr 6rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
}

#cover > div p {
  font-size: 3em;
  max-width: 13em;
  margin: 0;
}

#cover > div a {
  z-index: 3;
}

#cover > div a #arrow {
  height: 6em;
  width: 6em;
  margin-left: auto;
  margin-right: auto;
}

#cover > div a #arrow img {
  width: 40px;
}

#cover > div .up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
          animation: uparrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes uparrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

@keyframes uparrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

#ido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ido .content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 60em;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  position: relative;
}

#ido .content .area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em 1fr;
      grid-template-columns: 10em 1fr;
  min-height: 6em;
}

#ido .content .area .tag {
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#ido .content .area .tag > div {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#ido .content .area.active .tag > div {
  left: 10px;
}

#ido .content .area.active .description {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#ido .content .area.active .images {
  top: 5rem;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#ido .content .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18em;
      grid-template-columns: 1fr 18em;
  gap: 1em;
}

#ido .content .info .description {
  margin: 5px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.3;
}

#ido .content .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5em)[3];
      grid-template-columns: repeat(3, 5em);
  gap: 1.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  top: 6rem;
  right: 0;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

#ido .content .images > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ido .content .images > div > img {
  width: 3.5em;
  height: 3.5em;
}

@media screen and (max-width: 940px) {
  #work > div:not(.bg-title) .title {
    font-size: 20vw;
  }
  #ido {
    display: block;
  }
  #ido .content {
    grid-auto-rows: unset;
    gap: 2em;
  }
  #ido .content .area .tag > div {
    left: 0 !important;
  }
  #ido .content .area .tag > div .line {
    display: none;
  }
  #ido .content .area .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #ido .content .area .info .images {
    -ms-grid-columns: (5em)[auto-fit];
        grid-template-columns: repeat(auto-fit, 5em);
    position: initial;
    opacity: 1;
  }
  #ido .content .area .info .description {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .area {
    -ms-grid-columns: 2.1em 1fr !important;
        grid-template-columns: 2.1em 1fr !important;
    grid-column-gap: 1em;
  }
  .area .tag > div {
    -webkit-transform: rotate(-90deg) translate(-90%, 30%);
            transform: rotate(-90deg) translate(-90%, 30%);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  #contact #mailto {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  #contact ul {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
}

#who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#who div:first-child {
  width: 100%;
}

#who div:first-child p {
  width: 100%;
  max-width: 27em;
  text-align: justify;
  margin-top: 2em;
}

#who div:first-child p:last-child {
  margin-left: auto;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact > div:first-child {
  width: 100%;
  max-width: 65em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: 60vh;
}

#contact > div:first-child h1 {
  text-align: center;
}

#contact > div:first-child ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content min-content;
      grid-template-columns: 1fr -webkit-min-content -webkit-min-content;
      grid-template-columns: 1fr min-content min-content;
  /*grid-template-columns: repeat(auto-fit, minmax(10em, min-content));*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  gap: 1em;
}

#contact > div:first-child ul #mailto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*transform: translate(-25%, 0em);*/
}

#contact > div:first-child ul #mailto .shine {
  height: 3em;
  width: 5em;
}

#contact > div:first-child ul #mailto .shine:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#contact > div:first-child ul li {
  z-index: 4;
}

#work {
  overflow: hidden;
}

#work > div:not(.bg-title) {
  position: relative;
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
}

#work > div:not(.bg-title) .mockup {
  -webkit-perspective: 50rem;
          perspective: 50rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  max-height: 80vh;
  z-index: 1;
  position: absolute;
  right: 50%;
  top: calc(calc(100% + 5rem) / 2);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#work > div:not(.bg-title) .mockup.open {
  right: 0;
  top: 5rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#work > div:not(.bg-title) .mockup.open + .title {
  left: -100% !important;
}

#work > div:not(.bg-title) .mockup.open + .title + .title {
  right: -100% !important;
}

#work > div:not(.bg-title) .mockup .phone {
  height: 29em;
  width: 20em;
}

#work > div:not(.bg-title) .mockup .desktop {
  height: 29em;
  width: 44em;
}

#work > div:not(.bg-title) .mockup :first-child {
  pointer-events: none;
}

#work > div:not(.bg-title) .title {
  position: fixed;
  margin: 0;
  height: 1em;
  letter-spacing: -0.05em;
  pointer-events: none;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#work > div:not(.bg-title) .title:nth-child(2) {
  left: -100%;
  top: calc(calc(calc(calc(100% + 5rem) / 2) - 0.3em) + 23%);
}

#work > div:not(.bg-title) .title:nth-child(3) {
  text-align: right;
  right: -100%;
  bottom: calc(calc(calc(100% - 5rem) / 2) + 23%);
}

#work > div:not(.bg-title)[data-scroll="in"] .title:nth-child(2) {
  left: -0.12em;
}

#work > div:not(.bg-title)[data-scroll="in"] .title:nth-child(3) {
  right: -0.05em;
}
/*# sourceMappingURL=landing.css.map */