#project {
  .modal {
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;

    .modal-scroll {
      //transition: all 0.5s ease-out;
      position: fixed;
      left: 0;
      //height: 100%;
      width: 100%;
      //overflow: overlay;
      //-webkit-overflow-scrolling: touch;

      .modal-content {
        background-color: #faf5f0;
        margin-top: 22rem;
        padding-top: 3.5rem;
        transition: all 1s ease;

        > *:not(.screens),
        .screens section > *:not(*:last-child) {
          //margin-left: 10%;
          //margin-right: 10%;
          width: 80vw;
          margin: auto;
        }

        .btn-repo {
          background-color: #171717;
          padding: 1rem;
          border-radius: 2rem;
          color: #fff;
          position: absolute;
          top: 11rem;

          img {
            margin-right: 1rem;
          }
        }

        .role {
          //margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          font-weight: bold;
        }

        .description {
          display: grid;
          grid-template-columns: max-content 1fr;
          gap: 4rem 5rem;
          margin-top: 3rem;

          p {
            text-align: justify;
            max-width: 50rem;
            //margin-block-start: 1em;
            //margin-block-end: 1em;
          }

          h2 {
            font-weight: bold;
          }

          ul {
            margin: 0.5rem 0 0 0;
          }

          .img {
            grid-column: auto / span 2;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .description {
    grid-template-columns: 1fr !important;

    > div:nth-child(2) {
      order: 3;
    }
    .img {
      grid-column: auto !important;
    }
  }
  .screens section > div {
    flex-direction: column;
    justify-content: center;
    &.reverse {
      flex-direction: column-reverse;
    }
    p {
      max-width: none !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
