#project .modal {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
#project .modal .site {
  background-color: #171717;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  position: absolute;
  right: min(10vw, 2rem);
  bottom: min(10vw, 2rem);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border: solid 2px #171717;
}
#project .modal .site:hover {
  padding: 2rem;
  border-radius: 4rem;
  background-color: #f8f8f8;
  color: #171717;
}
#project .modal .site:active {
  padding: 3rem;
}
#project .modal .modal-scroll {
  position: fixed;
  left: 0;
  width: 100%;
}
#project .modal .modal-scroll .modal-content {
  padding-bottom: 10rem;
  background-color: #f8f8f8;
  margin-top: 45vh;
  padding-top: min(5rem, 12.5vw);
}
#project .modal .modal-scroll .modal-content > *:not(.screens),
#project .modal .modal-scroll .modal-content .screens section > *:not(*:last-child) {
  width: 75vw;
  margin: auto;
}
#project .modal .modal-scroll .modal-content .btn-repo {
  background-color: #171717;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  position: absolute;
  top: 11rem;
}
#project .modal .modal-scroll .modal-content .btn-repo img {
  margin-right: 1rem;
}
#project .modal .modal-scroll .modal-content .role {
  font-weight: bold;
}
#project .modal .modal-scroll .modal-content .description {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: min(5rem, 12.5vw) 6rem;
}
#project .modal .modal-scroll .modal-content .description > :first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem 5rem;
}
#project .modal .modal-scroll .modal-content .description h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 1em;
}
#project .modal .modal-scroll .modal-content .description ul {
  margin: 0;
}
#project .modal .modal-scroll .modal-content .description .img {
  grid-column: auto/span 2;
}
#project .modal .modal-scroll .modal-content .description .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .modal .modal-scroll .modal-content hr {
  margin: min(10vw, 3rem) 0 min(8rem, 20vw);
}
#project .modal .modal-scroll .modal-content .process .item {
  gap: min(10vw, 3rem) 6rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: min(8rem, 20vw);
}
#project .modal .modal-scroll .modal-content .process .item > div {
  display: grid;
  gap: min(10vw, 3rem);
  flex: 10 0 45rem;
  flex-basis: min(40rem, 75vw);
}
#project .modal .modal-scroll .modal-content .process .item > div .img {
  -o-object-fit: cover;
     object-fit: cover;
}
#project .modal .modal-scroll .modal-content .process h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  flex: 1 0;
  line-height: 1em;
  min-width: 11em;
  font-size: 23px;
}
#project .modal .modal-scroll .modal-content .process .img img {
  width: 100%;
}
#project .modal .modal-scroll .modal-content .process .img + p {
  margin-top: min(10vw, 3rem);
}
#project .modal .modal-scroll .modal-content .process .conclution {
  margin-top: min(10vw, 3rem);
}

@media screen and (max-width: 1145px) {
  .description {
    grid-template-columns: 1fr !important;
  }
  .description > :first-child {
    flex-direction: row !important;
  }
  .description > :first-child h2 {
    margin-bottom: 0 !important;
  }
  .description > :first-child ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .description > div:nth-child(2) {
    order: 3;
  }
  .description .img {
    grid-column: auto !important;
  }
  .screens section > div {
    flex-direction: column;
    justify-content: center;
  }
  .screens section > div.reverse {
    flex-direction: column-reverse;
  }
  .screens section > div p {
    max-width: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 730px) {
  .description > :first-child {
    flex-direction: column !important;
  }
  .description > :first-child ul {
    display: initial;
    flex-direction: initial;
    gap: unset;
  }
}/*# sourceMappingURL=project.css.map */