#project .modal {
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

#project .modal .modal-scroll {
  position: fixed;
  left: 0;
  width: 100%;
}

#project .modal .modal-scroll .modal-content {
  padding-bottom: 10rem;
  background-color: #ebebeb;
  margin-top: 45vh;
  padding-top: calc(min(10vw, 3rem));
}

#project .modal .modal-scroll .modal-content > *:not(.screens),
#project .modal .modal-scroll .modal-content .screens section > *:not(*:last-child) {
  width: 80vw;
  margin: auto;
}

#project .modal .modal-scroll .modal-content .btn-repo {
  background-color: #171717;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  position: absolute;
  top: 11rem;
}

#project .modal .modal-scroll .modal-content .btn-repo img {
  margin-right: 1rem;
}

#project .modal .modal-scroll .modal-content .role {
  font-weight: bold;
}

#project .modal .modal-scroll .modal-content .description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  gap: calc(min(10vw, 3rem)) 5rem;
  margin: 2rem 0 calc(min(10vw, 3rem)) 0;
}

#project .modal .modal-scroll .modal-content .description p {
  text-align: justify;
}

#project .modal .modal-scroll .modal-content .description h2 {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#project .modal .modal-scroll .modal-content .description ul {
  margin-top: 0.5rem;
}

#project .modal .modal-scroll .modal-content .description .img {
  grid-column: auto / span 2;
}

#project .modal .modal-scroll .modal-content .description .img img {
  width: 100%;
  height: 100%;
}

#project .modal .modal-scroll .modal-content .process h2 {
  margin: calc(min(10vw, 3rem)) 0 1rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#project .modal .modal-scroll .modal-content .process p {
  text-align: justify;
}

#project .modal .modal-scroll .modal-content .process .img {
  width: 80vw;
  margin-top: calc(min(10vw, 3rem));
}

#project .modal .modal-scroll .modal-content .process .img img {
  width: 100%;
  height: 100%;
}

#project .modal .modal-scroll .modal-content .process .img + p {
  margin-top: calc(min(10vw, 3rem));
}

@media screen and (max-width: 940px) {
  .description {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .description > div:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .description .img {
    grid-column: auto !important;
  }
  .screens section > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screens section > div.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .screens section > div p {
    max-width: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
/*# sourceMappingURL=project.css.map */