#cover{
    
    p{
        height: fit-content;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        max-width: 13em;
        margin: 0;
        margin-top: 10vh;
    }

    #arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
    
    .up {
        animation: uparrow 0.6s infinite alternate ease-in-out;
    }
    
    @keyframes uparrow {
        0% { -webkit-transform: translateY(0); opacity: 0.7 }
        100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
    }
}