@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App{
    font-family: 'Montserrat';
}

.lateral-margin{
    margin-left: 10%;
    margin-right: 10%;
}

label{
    cursor: pointer;
}

.font-xxs{
    font-size: 25px;
}

.font-xs{
    font-size: 25px;
}

.font-s{
    font-size: 25px;
}

.font-m{
    font-size: 25px;
}

.font-xl{
    font-size: 25px;
}

.font-xxl{
    font-size: 25px;
}
